In [2]:
import mysql.connector
import pandas as pd

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="localhost",  # Use the appropriate host (e.g., 'localhost' or IP address)
    user="haseenayon20@gmail.com",  # Your MySQL username
    password="n2VNL.B_v"~Pd:=",  # Your MySQL password
    database="your_database"  # The name of your MySQL database
)

# Create a cursor to interact with the database
cursor = conn.cursor()

# Write and execute a SQL query
query = "SELECT * FROM employees;"  # Replace with your table name
cursor.execute(query)

# Fetch the data into a pandas DataFrame
columns = [col[0] for col in cursor.description]  # Get column names
data = pd.DataFrame(cursor.fetchall(), columns=columns)

# Display the DataFrame
data.head()

# Close the connection
conn.close()

SyntaxError: unterminated string literal (detected at line 8) (33253721.py, line 8)

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+mysqlconnector://your_username:your_password@localhost/your_database

In [ ]:
%%sql
SELECT * FROM employees;

In [ ]:
CREATE TABLE employees (
  emp_no INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  birth_date DATE,
  hire_date DATE,
  gender CHAR(1)
);

In [ ]:
CREATE TABLE salaries (
  emp_no INT,
  salary DECIMAL(10, 2),
  from_date DATE,
  to_date DATE,
  PRIMARY KEY (emp_no, from_date),
  FOREIGN KEY (emp_no) REFERENCES employees(emp_no)
);

In [ ]:
CREATE TABLE titles (
  emp_no INT,
  title VARCHAR(50),
  from_date DATE,
  to_date DATE,
  PRIMARY KEY (emp_no, title, from_date),
  FOREIGN KEY (emp_no) REFERENCES employees(emp_no)
);

In [2]:
CREATE TABLE departments (
  dept_no CHAR(4) PRIMARY KEY,
  dept_name VARCHAR(40) UNIQUE
);

SyntaxError: invalid syntax (4120812225.py, line 1)

In [ ]:
CREATE TABLE dept_manager (
  emp_no INT,
  dept_no CHAR(4),
  from_date DATE,
  to_date DATE,
  PRIMARY KEY (emp_no, dept_no),
  FOREIGN KEY (emp_no) REFERENCES employees(emp_no),
  FOREIGN KEY (dept_no) REFERENCES departments(dept_no)
);

In [ ]:
CREATE TABLE dept_emp (
  emp_no INT,
  dept_no CHAR(4),
  from_date DATE,
  to_date DATE,
  PRIMARY KEY (emp_no, dept_no),
  FOREIGN KEY (emp_no) REFERENCES employees(emp_no),
  FOREIGN KEY (dept_no) REFERENCES departments(dept_no)
);

In [ ]:
LOAD DATA INFILE '/path/to/csv/departments.csv'
INTO TABLE employees
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

In [ ]:
SELECT e.emp_no, e.last_name, e.first_name, e.gender, s.salary
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
WHERE s.to_date = '9999-01-01';

In [ ]:
SELECT first_name, last_name, hire_date
FROM employees
WHERE YEAR(hire_date) = 1986;

In [ ]:
SELECT dm.dept_no, d.dept_name, dm.emp_no, e.last_name, e.first_name
FROM dept_manager dm
JOIN departments d ON dm.dept_no = d.dept_no
JOIN employees e ON dm.emp_no = e.emp_no;

In [ ]:
SELECT de.dept_no, e.emp_no, e.last_name, e.first_name, d.dept_name
FROM dept_emp de
JOIN employees e ON de.emp_no = e.emp_no
JOIN departments d ON de.dept_no = d.dept_no;

In [ ]:
SELECT first_name, last_name, gender
FROM employees
WHERE first_name = 'Hercules' AND last_name LIKE 'B%';

In [ ]:
SELECT e.emp_no, e.last_name, e.first_name
FROM dept_emp de
JOIN employees e ON de.emp_no = e.emp_no
JOIN departments d ON de.dept_no = d.dept_no
WHERE d.dept_name = 'Sales';

In [ ]:
SELECT e.emp_no, e.last_name, e.first_name, d.dept_name
FROM dept_emp de
JOIN employees e ON de.emp_no = e.emp_no
JOIN departments d ON de.dept_no = d.dept_no
WHERE d.dept_name IN ('Sales', 'Development');

In [ ]:
SELECT last_name, COUNT(*) AS name_count
FROM employees
GROUP BY last_name
ORDER BY name_count DESC;